<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net462" />
  <package id="Starcounter.Authorization" version="2.0.0" targetFramework="net461" />
  <package id="Starcounter.Simplified.Data.Model" version="1.0.4" targetFramework="net452" />
</packages>